db.sqlite3
.idea
media/books
media/e_books_files
media/reports
media
users/migrations
reviews/migrations
orders/migrations
custom_messages/migrations
books/migrations
new-version/config
new-version/storage